.footer_items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 0;
	width: 100%;
}
.for_email{
	display: inline-block;
}
.footer_items p{
	display: inline-block;
	font-size: 14px;
	color: #333333;
	font-weight: 400;
}
.footer_items b{
	font-weight: 400;
	color: #FA7670;
}
.footer_items input{
	padding: 10px;
	border: 1px solid #e7e7e7;
}
::placeholder{
	color: #e7e7e7;
}	
.footer_items button{
	padding: 10px 30px;
	margin-left: -5px;
	background-color: #89E7D8;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	border: none;
}